<h2 class="text-2xl font-bold mb-6">Criar Conta</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="mb-4">
    <%= f.input :email, required: true, autofocus: true, input_html: { class: "border rounded px-3 py-2 w-full" } %>
  </div>

  <div class="mb-4">
    <%= f.input :password, required: true, input_html: { class: "border rounded px-3 py-2 w-full" } %>
  </div>

  <div class="mb-6">
    <%= f.input :password_confirmation, required: true, input_html: { class: "border rounded px-3 py-2 w-full" } %>
  </div>

  <%= f.button :submit, "Cadastrar" , class: "bg-green-600 text-white px-4 py-2 rounded hover:bg-green-700" %>
<% end %>

  <p class="mt-4">
    Já tem uma conta?
    <%= link_to "Entrar" , new_session_path(resource_name), class: "text-blue-600 hover:underline" %>
  </p>