<%= simple_form_for equipament, html: { class: "space-y-6" } do |f| %>
  <% if equipament.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-700 px-4 py-3 rounded-md">
      <h2 class="font-semibold mb-2">
        <%= pluralize(equipament.errors.count, "error" ) %> prohibited this equipament from being saved:
      </h2>
      <ul class="list-disc list-inside">
        <% equipament.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.input :name, input_html: {
      class: "block w-full rounded-md border px-3 py-2 shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-600",
       "aria-invalid": equipament.errors[:name].any? }, error_html: { class: "text-red-600 mt-1 text-sm" },
      label_html: { class: "font-medium" } %>
  </div>

  <div>
    <%= f.input :description, as: :text, input_html: { rows: 4,
      class: "block w-full rounded-md border px-3 py-2 shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-600",
       "aria-invalid": equipament.errors[:description].any? }, error_html: { class: "text-red-600 mt-1 text-sm" },
      label_html: { class: "font-medium" } %>
  </div>

  <div class="flex items-center gap-2">
    <%= f.input :available, as: :boolean, label_html: { class: "font-medium" }, input_html: {
      class: "h-5 w-5 rounded border shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-600" , "aria-invalid":
       equipament.errors[:available].any? }, error_html: { class: "text-red-600 mt-1 text-sm" }, wrapper_html: {
      class: "mb-0" } %>
  </div>

  <div>
    <%= f.input :price_per_day, as: :integer, input_html: {
      class: "block w-full rounded-md border px-3 py-2 shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-600",
       "aria-invalid": equipament.errors[:price_per_day].any? }, error_html: { class: "text-red-600 mt-1 text-sm" },
       label_html: { class: "font-medium" } %>
  </div>

  <div>
    <%= f.button :submit, "Salvar",
      class: "w-full sm:w-auto rounded-md bg-blue-600 px-4 py-2.5 text-white font-medium hover:bg-blue-500 cursor-pointer"
      %>
  </div>
<% end %>